body {
    background-color: darkslategrey;
    text-align: center;
    color: black;
    font-family: monospace;
}

a {
    color: orange;
    text-decoration: none;

}

a:hover{
    color: lightblue;
    text-decoration: lime;
}



h2 {
    text-align: center;
}
img {
    width: 90%;
}
figure {
    text-align: center;
    font-style: italic;
}

/* Base Styles for Desktop */
main {
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
    text-align: left;
}


@media screen and (max-width: 1199px) {
    main {
        width: 80%; /* Takes 80% of the screen for tablets */
    }
}

/* For Phones (Below 768px) */
@media screen and (max-width: 768px) {
    main {
        width: 95%; /* Takes 95% of the screen on mobile */
    }

    img {
        width: 100%; /* Makes images responsive */
    }

    h2 {
        font-size: 1.2em; /* Adjust font size for mobile screens */
    }
}


