
<h1>Raymundo Munoz Cuevas's Rugged Mountain Cougar || ITIS 3135</h1>
 <nav>
    <a href="/homepage.html">Home</a>
    ||
    <a href="/introduction.html">Introduction</a>
    ||
    <a href="/contract.html">Contract</a>
    </nav>

    <nav>
        <a href="hobby/index.html">Hobby Site(Midterm)</a>
        ||
        <a href="/stuff/cr@zpy.htm">CRAAP Website</a>
        ||
        <a href="/website_evaluations.html">CRAAP Website Review</a>
        ||
        <a href="/byo_intro.html">BYO Intro</a>
        ||
        <a href="/raymundounlimited.co/AboutPage.html">Design Firm</a>
        ||
        <a href="/client_site/books.html">Client Project</a>
        ||
        <a href="drawing.html">Drawing</a>
        ||
        <a href="/tables/tables.html">Tables</a>
        ||
        <a href="raymundounlmited.co/">Whimsical Company</a>
        ||
        <a href="raymundo_mc_enterprises.com/">Design Firm</a>

    </nav>
